* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    --default-padding: 30px;
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --shadow-grey: hsla(223, 23%, 18%, 1);
    --shadow-grey-dark: rgb(23, 27, 37);

    /*
    --grey: rgb(193, 196, 198);
    --space-indigo: rgb(55, 69, 118);
    */
}

body {
    min-height: 100vh;
    background-color: var(--shadow-grey);
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    color: var(--white);



}

main {
    /* padding: 0px clamp(25px, 6vw, 100px); */
    width: 100%;
    max-width: 1600px;
    padding: 0px clamp(25px, 12vw, 150px);
    margin: 0px auto;
}




.bold {
    font-weight: 700;
    font-size: clamp(1.5rem, 7vw, 3rem);

}

.normal-text {
    font-weight: 400;
    /* font-size: clamp(2.75rem, 8vw, 3.75rem); */
    font-size: clamp(2.75rem, 8vw, 5rem);
}





.navbar {
    display: flex;
    padding: var(--default-padding) clamp(20px, 5vw, 50px);
    justify-content: space-between;
    align-items: center;
    background-color: var(--shadow-grey-dark);
}

nav li {
    /*    margin: auto 40px auto 0px; */
    margin-right: 50px;
    font-size: clamp(1rem, 1.25vw, 1.25rem);

}



a {
    text-decoration: none;
    color: inherit;
}

nav ol {
    display: flex;
    align-items: center;
}



.intro-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    /* margin: 0px 15px 50px 25px; */
    padding-bottom: 30vh;
    max-width: 1000px;
    margin: 0px auto;

}





.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 90vh;
    margin-bottom: 50px;

}

.content-section img {
    margin-bottom: 20px;
}

.content-section h2 {
    margin-bottom: 10px;
}


.button-theme {
    font-family: inherit;
    font-size: 15px;
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: var(--white);
    border-radius: 8px;
    border: 2px solid var(--white);
    margin-top: 20px;
}

#letter-e {
    width: 55px;

}

#menu-icon {
    width: 55px;
}

#li-icon {
    width: 55px;
    position: absolute;
    bottom: 35px;
    left: 45px;
}

#gh-icon {
    width: 55px;
    position: absolute;
    bottom: 100px;
    left: 45px;
}

picture {
    display: flex;
    justify-content: center;
    align-self: center;
}



#arrow {
    display: block;
    position: absolute;
    bottom: 35px;
    width: 65px;
}



#code-image {
    margin-bottom: 20px;
    /* clamp(100px, 10vw, 175px) */
    width: clamp(100px, 10vw, 145px);



}



#desktop-nav {
    display: none;
}

#skip {
    list-style-type: none;
    counter-increment: none;
    border: 2px solid var(--white);
    border-radius: 5px;
    padding: 10px;
    margin-right: 0px;
    margin-left: -20px;
}

/* Styles for screen sizes larger than mobile */

@media (min-width:768px) {

    /* tablets */

}

@media (min-width:1024px) {

    /* laptops */
    #menu-icon {
        display: none;
    }

    #desktop-nav {
        display: block;
        margin: auto 0px auto auto;
    }





}