* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    --default-padding: 30px;
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --shadow-grey: hsla(223, 23%, 18%, 1);
    --shadow-grey-dark: rgb(23, 27, 37);
    --default-width: 55px;

    /*
    --grey: rgb(193, 196, 198);
    --space-indigo: rgb(55, 69, 118);
    */
}

body {
    min-height: 100vh;
    background-color: var(--shadow-grey);
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    color: var(--white);



}

main {
    /* padding: 0px clamp(25px, 6vw, 100px); */
    width: 100%;
    max-width: 1600px;
    padding: 0px clamp(25px, 8.5vw, 150px);
    margin: 0px auto;
}




.bold {
    font-weight: 700;
    font-size: clamp(1.5rem, 7vw, 3rem);

}

.normal-text {
    font-weight: 400;
    font-size: clamp(2.75rem, 8vw, 5rem);
}





#navbar {
    display: flex;
    padding: var(--default-padding) clamp(20px, 5vw, 50px);
    justify-content: space-between;
    align-items: center;
    background-color: var(--shadow-grey-dark);
}

nav li {
    /*    margin: auto 40px auto 0px; */
    margin-right: 50px;
    font-size: clamp(1rem, 1.25vw, 1.125rem);

}



a {
    text-decoration: none;
    color: inherit;
}

nav ol {
    display: flex;
    align-items: center;
}



#intro-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 85vh;
    /* margin: 0px 15px 50px 25px; */
    padding-bottom: 10vh;
    max-width: 1000px;
    margin: 0px auto;

}

#about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

#about-section h1 {
    margin: 5px 0px 40px;
}

#about-section img {
    margin: 5px 0px 40px;
}

#about-section p {
    margin: 5px auto 15px auto;
    padding: 0px 20px;

}

#large-img {
    width: 225px;
}




.button-theme {
    font-family: inherit;
    font-size: 15px;
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: var(--white);
    border-radius: 8px;
    border: 2px solid var(--white);
    margin-top: 20px;
}

#letter-e {
    width: var(--default-width);

}

#menu-icon {
    width: var(--default-width);
}

#li-icon {
    width: 40px;
    margin-bottom: 10px;

}

#gh-icon {
    width: 45px;

}

#social-icons {
    display: none;
}

#no-bullets {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hand-wave {
    display: none;
}

picture {
    display: flex;
    justify-content: center;
    align-self: center;
}



#arrow {
    display: block;
    position: absolute;
    bottom: clamp(5px, 3vh, 30px);
    width: 65px;
}



#code-image {
    margin-bottom: 20px;
    width: clamp(100px, 10vw, 145px);



}



#desktop-nav {
    display: none;
}

#skip {
    list-style-type: none;
    counter-increment: none;
    border: 2px solid var(--white);
    border-radius: 5px;
    padding: 10px;
    margin-right: 0px;
    margin-left: -20px;
}

/* Styles for screen sizes larger than mobile */

@media (min-width:768px) {

    /* tablets */

}

@media (min-width:1024px) {

    /* laptops */
    #menu-icon {
        display: none;
    }

    #desktop-nav {
        display: block;
        margin: auto 0px auto auto;
    }

    #social-icons {
        display: block;
        position: fixed;
        bottom: 15px;
        left: 45px;
    }

    #hand-wave {
        display: block;
        position: absolute;
        width: 55px;
        bottom: 15px;
        right: 45px;
    }





}