@use "../abstracts" as *;

@font-face {
    font-family: $my-font;
    font-weight: bold;
    src: url("../fonts/DejaVuSansMono-Bold.ttf");
}

@font-face {
    font-family: $my-font;

    src: url("../fonts/DejaVuSansMono.ttf");
}