@use "../abstracts" as *;

#letter-e {
    opacity: 0;
    width: $default-icon-width;
}

.navigation {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: $default-padding;
    justify-content: space-between;
    align-items: center;
    background-color: $shadow-grey-dark;
    opacity: 0;

    transform: translateY(0vh);
    transition: transform 0.6s, filter 0.6s;

    &.slide-up {
        transform: translateY(-20vh);
    }
}