.bold {
    font-weight: 700;
    font-size: clamp(1.75rem, 5vw, 3rem);
    white-space: nowrap;

}

/* 
 Some symbols would break onto more than one line on desktop causing the layout to shift
 The fix was to use white space property which prevents the text from wrapping onto next line
 which throws off the hero layout
 */
.limit-symbols {
    max-width: 100%;
    display: block;
    height: 165px;
    contain: content;
    overflow: hidden;



}


#limit-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: clip;
}

.title {
    font-weight: 400;
    font-size: clamp(2.75rem, 5vw, 4.75rem);

}