$default-padding: 30px;
$my-font: DejaVu;
$shadow-grey: hsl(223, 23%, 18%);
$white: hsl(0, 0%, 100%);

$black: hsl(0, 0%, 0%);
$shadow-grey-dark: hsl(222.86, 23.33%, 11.76%);
$shadow-grey-darkest: hsl(220, 12%, 5%);
$default-icon-width: 55px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px